.carrousel {
  position: relative;
}

.carrousel__slide {
  height: 415px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.carrousel__extra {
  color: $color-primary;
}

.carrousel__arrows {
  font-size: 75px;
  position: absolute;
  width: 100%;
  top: 40%;

  .carrousel__arrow-left,
  .carrousel__arrow-right {
    position: absolute;
    cursor: pointer;
  }
  .carrousel__arrow-left {
    left: 23px;
  }

  .carrousel__arrow-right {
    right: 23px;
  }
}

.counter {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 25px;
}
