.size-primary {
  font-size: 18px;
}

.size-secondary {
  font-size: 24px;
}

.size-tertiary {
  font-size: 36px;
}

.logo--size {
  width: 210px;
}

.banner--size {
  font-size: 48px;
}

.tag--size {
  font-size: 14px;
}
